# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Video/audio outputs
*.mp4
*.wav

# Reports
*.xlsx

# Logs
*.log

# Output folders
ques1/report_out/
ques2/*.srt

# Docker cache
*.pid
